html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dt,
dd,
p {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;

}

a {
    color: #000;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    /* html의 기본글자크기(16px)와 일치 초기화 */
}

i {
    font-style: normal;
}